*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cell-dimension : 100px ;
    --mark-size : calc(var(--cell-dimension) * .9)
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3 , var(--cell-dimension));
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
} 
.cell{
    width: var(--cell-dimension);
    height: var(--cell-dimension);
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    display: flex ;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n +1)
{
    border-left: none;
}

.cell:nth-child(n +7)
{
    border-bottom: none;
}

.cell:nth-child(3n)
{
    border-right: none;
}

.cell.x::before, 
.cell.x::after  {
    content: '';
    background-color : black;
    width: calc(var(--mark-size) * .2);
    height: var(--mark-size);
    position: absolute;
}
.cell.x::after{
    rotate: 45deg;
}

.cell.x::before{
    rotate: -45deg;
}

.cell.o::before{
    content: '';
    background-color : black;
    width: var(--mark-size);
    height: var(--mark-size);
    border-radius: 50%;
    position: absolute;
}
.cell.o::after{
    content: '';
    background-color : white;
    width: calc(var(--mark-size) * .65);
    height: calc(var(--mark-size) * .65);
    border-radius: 50%;
    position: absolute;
}

.Game-over{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}